@import "tailwindcss";

root {
  --background: #fffbf9;
  --foreground: #1f1f1f;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2a2927;
    --foreground: #efefef;
  }
}

@theme {
  --color-trunks-50: #fffefe;
  --color-trunks-100: #f6f1ee;
  --color-trunks-200: #e8e5e4;
  --color-trunks-500: #7ac7c5;
  --color-trunks-700: #4f4b4a;
  --color-trunks-800: #373534;
  --color-trunks-900: #262423;
  --color-trunks-950: #1f1b19;
}

* {
  transition-duration: 150ms;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins, "Roboto Sans", Arial, Helvetica, sans-serif;
}
